/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 320px; /* 250 width - change this with JavaScript */
    margin-left: -320px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0033a0; /* CTS Blue */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 100px from the top */
    padding-bottom: 30px;
    transition: 0.3s; /* 0.3 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover, .offcanvas a:focus {
            color: #ff8200;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mainBody {
    transition: margin-left .3s;
    padding: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/* Start the default CSS for the Django Application */
body {
    padding-top: 100px;
    padding-bottom: 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
